<ion-header>

    <ion-navbar>
        <ion-title>{{salesItem.ProductName}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <img src="{{salesItem.ProdPicUrl}}" alt="商品图片">

    <!-- 增加记录 -->
    <ion-fab top right edge>
        <button ion-fab color="primary" (click)="doCreateNewItem()">
      <ion-icon name="add"></ion-icon>
    </button>
    </ion-fab>

    <ion-list>
        <ion-item>
            <ion-row>
                <ion-col col-3 text-center>日期</ion-col>
                <ion-col col-3 text-center>销售</ion-col>
                <ion-col col-3 text-center>购买</ion-col>
                <ion-col col-3 text-center>库存</ion-col>
            </ion-row>
        </ion-item>
        <ion-item *ngIf="!salesArray" padding>
            <ion-row style="text-align:center">
                <ion-col></ion-col>
                <ion-col>
                    <p text-center>暂无数据</p>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-item>
        <ion-item *ngFor="let sales of salesArray">
            <ion-row>
                <ion-col col-3 text-center> {{sales.date.slice(0,10) }} </ion-col>
                <ion-col col-3 text-center> {{sales.sold}} </ion-col>
                <ion-col col-3 text-center> {{sales.purchase}} </ion-col>
                <ion-col col-3 text-center> {{sales.inStock}} </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>