<ion-header>
    <ion-navbar>
        <ion-title>{{activityItem.name}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-fab bottom right>
        <button ion-fab color="vibrant" (click)="doOpenEditPage()">
      <ion-icon ios="ios-create" md="md-create"></ion-icon>
    </button>
    </ion-fab>
    <ion-list>
        <ion-item>
            <img src="{{activityItem.image}}" alt="">
        </ion-item>
        <ion-item>
            <small>活动时间：
        <strong>{{activityItem.date}}</strong>
      </small>
        </ion-item>
        <ion-item text-wrap>
            <small>活动描述：
        <strong>{{activityItem.desc}}</strong>
      </small>
        </ion-item>
        <ion-item text-wrap>
            <small>活动状态：
        <strong>{{activityItem.status}}</strong>
      </small>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="dataResults">
        <ion-list-header color="primary">
            活动汇总材料
        </ion-list-header>
        <ion-item>
            <small style="float:left">参与人数：<strong>{{dataResults.PplAttend}}</strong></small>
        </ion-item>
        <ion-item>
            <small style="float:left">到场人数：<strong>{{dataResults.PplOnSpot}}</strong></small>
        </ion-item>
        <ion-item>
            <small style="float:left">直播人数：<strong>{{dataResults.PplOnLive}}</strong></small>
        </ion-item>
        <ion-item>
            <small>选手照片</small>
        </ion-item>
        <ion-item>
            <div *ngFor="let pic of dataResults.playersPics;">
                <img src="{{pic}}" alt="选手照片">
            </div>
        </ion-item>
        <ion-item>
            <small>围观人群照片</small>
        </ion-item>
        <ion-item>
            <div *ngFor="let pic of dataResults.spectatorPics">
                <img src="{{pic}}" alt="围观人群照片">
            </div>
        </ion-item>
        <ion-item>
            <small>活动物料广告照片</small>
        </ion-item>
        <ion-item>
            <div *ngFor="let pic of dataResults.advertisePics">
                <img src="{{pic}}" alt="活动物料广告照片">
            </div>
        </ion-item>
        <ion-item>
            <small>直播大V照片</small>
        </ion-item>
        <ion-item>
            <div *ngFor="let pic of dataResults.liverPics">
                <img src="{{pic}}" alt="直播大V照片">
            </div>
        </ion-item>
        <ion-item>
            <small>支持人照片</small>
        </ion-item>
        <ion-item>
            <div *ngFor="let pic of dataResults.supporterPics">
                <img src="{{pic}}" alt="支持人照片">
            </div>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item color="primary">
            活动准备材料
        </ion-item>
        <!-- <ion-item>
            <small>门头照片</small>
        </ion-item> -->
        <ion-item *ngFor="let pic of activityItem.prepare">
            <div>
                <img src="{{pic}}" alt="门头照片">
            </div>
        </ion-item>
        <!-- <ion-item>
            <small>货架照片</small>
        </ion-item>
        <ion-item>
            <div>
                <img src="{{pic}}" alt="货架照片">
            </div>
        </ion-item>
        <ion-item>
            <small>店面陈列展示照片</small>
        </ion-item>
        <ion-item>
            <div>
                <img src="{{pic}}" alt="店面陈列展示照片">
            </div>
        </ion-item> -->
    </ion-list>
</ion-content>