<ion-header>

</ion-header>
<ion-content scroll="false">
    <div class="splash-bg"></div>
    <div class="splash-info">
        <div class="splash-logo"></div>
        <div class="splash-intro">
            Gamepoch星游纪门店
        </div>
    </div>
    <div padding>

        <ion-card>
            <p text-center>
                <ion-searchbar [(ngModel)]="storeInput" (ionInput)="getStores($event)" placeholder="输入店名选择您所的门店"></ion-searchbar>
            </p>
            <p padding *ngFor="let store of currentStores" (click)="select(store)" [hidden]="hideCurrentStores">
                {{store.Name}}
            </p>
            <h1 *ngIf="selectedStore" text-center padding>{{selectedStore.Name}}</h1>
        </ion-card>
    </div>
    <div text-center style="bottom: 10%; position: absolute; width: 100%" *ngIf="selectedStore">
        <button ion-button icon-end large clear (click)="doLogin()">
              继续<ion-icon name="arrow-forward"></ion-icon>
            </button>
    </div>
</ion-content>

<!-- <ion-footer>
    <ion-toolbar>
        <ion-row>
            <p><img src="assets/img/icon32_wx_logo.png" alt="微信icon" style="vertical-align:middle"><span> Gamepoch星游纪</span></p>
            <p><img src="assets/img/LOGO_32x32.png" alt="微信icon" style="vertical-align:middle"><span> Gamepoch星游纪</span></p>
        </ion-row>
    </ion-toolbar>
</ion-footer> -->