page-activity-item-edit {
    .deleteIcon {
        position: absolute !important;
        color: #ffffff !important;
        margin-left: 65% !important;
        transform: rotate(45deg);
    }
    .deleteIcon:before {
        font-size: 20px !important;
    }
    .releative {
        position: relative
    }
    .imageInput {
        visibility: hidden;
        height: 0px;
    }
}